{% extends "layout.html.twig" %}

{% block header %}
    {{ parent() }}
{% endblock %}

{% block main %}
<main class="client-zone">
  <section class="client-zone__container">

    <!-- escape est un filtre qui convertit les caractères spéciaux en leur équivalent HTML -->
    <h2>Bienvenue {{ session.client.getFirstName()|escape }}</h2>

    <h2>Mes commandes</h2>

    {% if orders is defined and orders|length > 0 %}
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Heure</th>
            <th>Montant</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td>{{ order.getId() }}</td>
              <td>{{ order.getDate_order()|date('d/m/Y') }}</td>
              <td>{{ order.getHour_order()|date('H:i') }}</td>
              <td>{{ order.getTotalPrice() }} {{ euros }}</td>
              <td>{{ order.getStatus() }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>Aucune commande trouvée.</p>
    {% endif %}

  </section>
</main>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}