{% extends "layout.html.twig" %}

{% block title %}Page de {{ user.first_name|escape }}
{{ parent() }}
{% endblock %}

{% block main %}
<main class="user-zone">
  <section class="user-zone__container">

    <h2>Bienvenue {{ user.first_name|escape }} </br></br>

    Mes commandes</h2>

    {% if orders is empty %}
      <p>Vous n'avez encore passé aucune commande.</p>
    {% else %}
      <ul class="order-list">
        {% for order in orders %}
          <li class="order-item">
            <div class="order-header">
              <h3>Commande du {{ order.getDate_order().format('d/m/Y H:i') }}</h3>
              <p>Total : {{ order.getTotalPrice()|number_format(2, ',', ' ') }} €</p>
            </div>
            <ul class="order-details">
              {% for item in order.getItems() %}
                <li class="order-detail">
                  <p>{{ item.getName() }} - {{ item.getPrice()|number_format(2, ',', ' ') }} € (Quantité: {{ item.getQuantity() }})</p>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </section>
</main>
{% endblock %}
